@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Poppins:wght@500&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

body {
  font-family: "Poppins", sans-serif;
}

@keyframes toast-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-toast-progress {
  animation: toast-progress linear forwards;
}
